.center, .sider1, .sider2, .content, .navbar ul {
    height: 100vh;
}

.sider1, .sider2, .center {
    overflow: hidden;
}

.sider1, .sider2 {
    padding-top: 40px;
}

.sider1 {
    padding-left: 30px;
}

.content {
    padding-top: 10%;
    padding-left: 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.navbar {
    padding-right: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sider1, .navbar ul li {
    writing-mode: vertical-lr;
}

.navbar ul li {
    margin: 10px 0;
}

@media (max-width: 400px) {
    .sider1 {
        padding-left: 10px;
    }
}