:root {
    --red: #EB5757;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #082F63;
    text-align: center;
}

/* Colors */
.red {
    color: var(--red);
}

.white {
    color: var(--white);
}