/*
In typography goes the following:
-type scale
-font families and its relative properties
-text properties
*/

/* Fixed styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
}

a {
    text-decoration: none;
}

/* Fixed typescale */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

/* Other type scale classes, starting from 1.5rem */
.text-mega {
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    h2 {
        font-size: 2.5rem;
    }
}