/* Fixed styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}